<?xml version="1.0" encoding="utf-8"?>

<!--
  Para obtener más información sobre cómo configurar la aplicación de ASP.NET, visite
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    
    <connectionStrings>
        <add name="ConsultoriosConnectionString" connectionString="Data Source=DESKTOP-26I1PO8\SQLEXPRESS;Initial Catalog=Consultorios;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="ConsultoriosConnectionString2" connectionString="Data Source=DESKTOP-26I1PO8\SQLEXPRESS;Initial Catalog=Consultorios;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="ConsultoriosConnectionString3" connectionString="Data Source=DESKTOP-26I1PO8\SQLEXPRESS;Initial Catalog=Consultorios;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="ConsultoriosConnectionString4" connectionString="Data Source=DESKTOP-26I1PO8\SQLEXPRESS;Initial Catalog=Consultorios;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="ConsultoriosConnectionString5" connectionString="Data Source=DESKTOP-26I1PO8\SQLEXPRESS;Initial Catalog=Consultorios;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <system.web>
        <compilation debug="true" targetFramework="4.0" />
    </system.web>
</configuration>
