<?xml version="1.0" encoding="utf-8"?>

<!--
  Para obtener más información sobre cómo configurar la aplicación de ASP.NET, visite
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration> 
    <system.web>
        <compilation debug="true" targetFramework="4.0" />
    </system.web>
  <connectionStrings>
    <add name="ConsultoriosEntities" connectionString="metadata=res://*/ConsultioriosEDM.csdl|res://*/ConsultioriosEDM.ssdl|res://*/ConsultioriosEDM.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=DESKTOP-26I1PO8\SQLEXPRESS;Initial Catalog=Consultorios;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>
  
